
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: #161616;
}
a {
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    width: 60px;
    left: 2%;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/*espaçamento itens*/

.topnav {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
}

/*dimensionamento da imagem*/
.topnav img {
    height: 80px;
    width: 80px
}

/*links centrais*/

.mylinks {
    width: 400px;
    font-size: 13px;
    justify-content: space-around;
 
    
}
.hover-link {
    display: inline-block; /*permite determinar height and width*/
    position: relative; /*permite posicionar um elemento em relação ao local onde ele estaria em um fluxo normal*/
   
}

.hover-link:after {
    content: '';
    position: absolute;/*remove o elemento do flux da página, não altera a posição dos demais elementos é como se o elemento não estivesse na página*/
    width: 100%;
    transform: scaleX(0); /*redimensiona um elemento em relação a um eixo, no caso horizontal* nesse caso deixa a barra invisível*/
    height: 2px;
    bottom: 0; /*posição para position absolute*/
    left: 0; /*posição para position absolute*/
    background-color:#ca3b3a;
    transform-origin: bottom left; /* determina o início da transformação*/
    transition: transform 500ms ease-out;
}

.hover-link:hover:after {
transform: scaleX(1); /*determina o tamanho final do elemento após o efeito gatilho*/
transform-origin: bottom left; /* determina o fim da transformação*/
}
/*ajustar altura divs*/
.mylinks , .icons {
    padding-top: 30px;
}
/*flex icons*/

.icons {
    display: inline;
    width: 200px;
    
}

.icons a {
    padding-left: 5%;
    padding-right: 5%;

}

/*img resize*/

.container {
    display: block;
    margin-left: 5%;
    margin-right: 0;
    width: max-content;
}
.sample {
    height: 100%;
    width: 60%;
   padding-left: 5%;
}

/*styling product info*/

.product {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title {
    font-size: 2rem;
    letter-spacing: 2px;
    color:#ca3b3a;
    padding-top:  10%;
}

/*side buttons*/

.image {
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
margin-right: 20px;   
}
.first {
    height: 60px;
    width: 4px;
    background-color: #dedede;
    text-align: center;
    border-radius: 2px;
    
}

.circle {
    
    height: 6px;
    width: 6px;
    background-color: #dedede;
    padding-right: 4px;
    text-align: center;
    border-radius: 50%;  
}


/*detalhes produtos*/

.subtitle {
    padding-top: 10%;
    padding-bottom: 5%;
}

#grade-star {
    color:#ca3b3a
}

.description {
    padding-top: 5%;
  
}

/*price*/

.price {
    display:flex;
    font-size:1.5rem;
    padding-top: 5%;
    margin:0%;
}

#amount {
    margin-right: 30%;
}
#payment {
    display:flex
}
#comprar {
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 5%;
    padding-bottom:5%;
    text-transform: uppercase;
    color:white;
    background-color: #ca3b3a;
    border-width: 0px;
    font-size: 0.8rem;
    min-width: 150px;
    cursor:pointer;

}
#comprar:hover {
    background-color:#161616;
}
.check-out {
    display:flex;
    flex-direction:column
}

.foto {
    display:flex
}
.info {
    margin-right:10%;
    width:100%;
    display:flex;
    flex-direction: column;
}

.rodape {
    background-color:#F9F7D6;
    width:100%;
    height:10%;
    position:absolute;
    left:0;
    bottom:0;
}

.destaques {
    padding-top:1%;
    display:flex;
    justify-content:space-evenly;
    width:100%
}
.texto
{
    font-size: 0.8rem;
    width: 170px;
}

@media (max-width:400px) {

    .mylinks {
        visibility: visible;
    }
    
    .product {
        display:flex;
        flex-direction:column;;

    }
}